.score{
    width: 100%;
    color:blueviolet ;
    text-align: center;
    padding-top: 5px 5px;
}

.report{
    width: 100%;
    padding: 5px 5px;
    text-align: center;
}



.reset{
    width: 100%;
    text-align: center;
    padding-top: 10px;
}